<link rel='stylesheet' href='/stylesheets/index_style.css'>
<img src="{{image}}"/>
<p>Gebruik de knoppen om naar het gewenste deel te navigeren</p>
<table>
    <tr>
        <td><a href="/first"> Zoek per student </a></td>
        <td><a href="/second"> Zoek op aantal onvoldoendes</a></td>
        <td><a href="/third"> Verander scores</a></td>
    </tr>
</table>

